.seccion-resenas {
  padding: 120px 80px 60px 80px;
  font-family: "Poppins", sans-serif;
  color: #0c2734;
}

.header-resenas {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 90px;
}

.header-resenas i {
  font-size: 25px;
  color: #0c2734;
}

.header-resenas h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 160px 0 0;
}

.ordenar-por {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-top: 30px;
}

.ordenar-por p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.dropdown-orden {
  position: relative;
  display: inline-block;
}

.btn-orden-actual {
  padding: 8px 25px;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}

.btn-orden-actual i {
  margin-left: 10px;
  font-size: 12px;
}

.menu-orden {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  margin-top: 5px;
  min-width: 100%;
  z-index: 10;
  overflow: hidden;
}

/* Muestra el menú cuando el checkbox #mostrar-menu-orden está marcado */
#mostrar-menu-orden:checked ~ .seccion-resenas .dropdown-orden .menu-orden {
  display: block;
}

#ordenar-mejor-valoradas,
#mostrar-menu-orden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.opcion-orden {
  display: block;
  padding: 8px 25px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}

.opcion-orden:hover {
  background-color: #f0f0f0;
}

.texto-valoradas {
  display: none;
}

.resenas-container {
  display: flex;
  gap: 80px;
}

.columna-resenas {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.columna-resenas {
  display: grid;
  gap: 25px;
  align-content: start;
}

.resena {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px 20px;
  background: #f7f7f7;
}

.resena .nombre {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.resena .estrellas {
  color: #f8bd00;
  margin-bottom: 5px;
}

.resena .comentario {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.resena .fecha {
  font-size: 14px;
  color: #6a6a6a;
  margin: 0;
  text-align: right;
}

/* Lógica cuando el checkbox de ORDENAMIENTO está marcado */
#ordenar-mejor-valoradas:checked
  ~ .seccion-resenas
  .header-resenas
  .texto-fecha {
  display: none;
}
#ordenar-mejor-valoradas:checked
  ~ .seccion-resenas
  .header-resenas
  .texto-valoradas {
  display: inline;
}

#ordenar-mejor-valoradas:checked
  ~ .seccion-resenas
  .header-resenas
  .opcion-fecha {
  font-weight: normal;
}
#ordenar-mejor-valoradas:checked
  ~ .seccion-resenas
  .header-resenas
  .opcion-valoradas {
  font-weight: bold;
}

#ordenar-mejor-valoradas:checked ~ .seccion-resenas .columna-resenas {
  display: flex;
  flex-direction: column;
}
#ordenar-mejor-valoradas:checked
  ~ .seccion-resenas
  .resenas-container
  .resena[data-orden-valor="5"] {
  order: 1;
}

#ordenar-mejor-valoradas:checked
  ~ .seccion-resenas
  .resenas-container
  .resena[data-orden-valor="4"] {
  order: 2;
}
