body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* espacio para barra de menú */
.top-space {
  height: 150px;
  width: 100%;
}

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Círculo */
.circle {
  width: 260px;
  height: 260px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 100%;
  height: 100%;
  display: block;
}

.percent-text {
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  color: #0c2a42;
}

.precision {
  margin-top: 10px;
  font-size: 19px;
  color: #0c2a42;
  font-weight: 600;
}

h2 {
  margin-top: 22px;
  font-size: 27px;
  color: #0c2a42;
  font-weight: 700;
}

.subinfo {
  font-size: 16px;
  color: #333;
  margin-top: 8px;
  line-height: 1.4;
}

/* Caja feedback */
.feedback-box {
  width: 100%;
  background: #e5e8ed;
  border-radius: 14px;
  padding: 28px;
  margin-top: 45px;
  text-align: left;
}

.feedback-title {
  font-size: 18px;
  font-weight: 700;
  color: #0c2a42;
  margin-bottom: 12px;
}

.feedback-text {
  font-size: 15px;
  color: #333;
  line-height: 1.5;
}

/* Botón Finalizar */
.btn-finalizar {
  margin-top: 55px;
  background: #f7c400;
  border: none;
  margin-bottom: 50px;
  padding: 14px 50px;
  border-radius: 30px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  color: #0c2a42;
  transition: 0.2s ease;
}

.btn-finalizar:hover {
  transform: scale(1.05);
}
